#h1{
    color: firebrick;
    text-align: center;
    font-size: 40;
}
.info{
     font-size: 20;
    font-family:sans-serif;
    text-align: justify;
    padding: 6px;
}
.info2{
     font-size: 20;
    font-family:sans-serif;
    text-align: justify;
    padding: 6px;
}

.subt{
    font-size: 30;
    font-family:sans-serif;
    text-align: justify;
    padding: 6px;
}
